@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Urgent</th>
            <th>Done</th>
            <th>Assignee Name</th>
            <th>Delete through body</th>
            <th>Delete through route</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in Model)
        {
            <tr>
                <td>@todo.Id</td>
                <td>@todo.Title</td>
                <td>@todo.IsUrgent</td>
                <td>@todo.IsDone</td>
                <td>@todo.Assignee.Name</td>
                <td>
                    <form action="delete" method="get">
                        <button type="submit" name="id" value="@todo.Id">Delete</button>
                    </form>
                </td>
                <td>
                    <a asp-controller="Todo" asp-action="DeleteTodoByRoute" asp-route-id="@todo.Id">
                        Delete
                    </a>
                </td>
                <td>
                    <a asp-controller="Todo" asp-action="Update" asp-route-id="@todo.Id">Update Todo</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="add">Add Todo</a>
<br />
<a href="assignee/add">Add Assignee</a>


