@model HelloWorld.Models.Hello
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
</head>
<body>
    <div style="font-size:@Model.Size; color:rgb(@Model.Red, @Model.Green, @Model.Blue)">
        <p>
            @Model.Greet
        </p>
        <p>@Model.Size</p>
        <p>Red: @Model.Red</p>
        <p>Green: @Model.Green</p>
        <p>Green: @Model.Green</p>
    </div>
</body>
</html>